@import "base.css";

.team-input {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.team-wrapper {
  flex-basis: 15%;
}

.add-button {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
}

.add-button span {
  margin-left: 7px;
  font-size: smaller;
  padding-bottom: 2px;
  align-self: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.buttons button,
.buttons input {
  padding: 10px;
  margin-right: 15px;
  font-size: medium;
}

.buttons button {
  background: #ffcc66;
  color: #d43429;
}

.buttons input {
  font-weight: bold;
  background: #d43429;
  color: #fff;
}

.buttons button:hover,
.buttons input:hover {
  background: #fff;
  color: #d43429;
}

#results-wrapper h3 {
  position: absolute;
  font-size: xx-large;
  color: #d43429;
  top: 15px;
  padding-top: 20px;
  padding-left: 10px;
}

.image-wrapper {
    margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20%;
}

.team-images {
  display: flex;
  flex-flow: row nowrap;
}

.team-icon {
  margin-left: 25px;
  margin-right: 10px;
}

.team-icon img {
  align-self: center;
  width: 80px;
}

.player-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: center;
  width: 65px;
  height: 67px;
}

.player-icons img {
  align-self: center;
  width: 30px;
}

.results {
  margin-top: 25px;
  border: 3px solid black;
  font-size: large;
}

.t2 .results {
  width: 48.3%;
}
.t3 .results {
  width: 62.3%;
}
.t4 .results {
  width: 76%;
}

.results tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #757575;
}

.results .heading {
  border-bottom: 3px solid black;
  color: #fff;
  background: #d43429;
  font-size: large;
}

.heading .nickname {
  font-size: medium;
}

.results th {
  text-align: left;
  background: #d43429;
}

.results th,
.results td {
  margin-right: 10px;
  padding: 10px 20px;
  width: 80px;
}

.results .column0 {
  text-align: left;
}

.t2 .results .column0 {
  flex-basis: 43.5%;
}
.t3 .results .column0 {
  flex-basis: 33%;
}
.t4 .results .column0 {
  flex-basis: 26.8%;
}

.results .data {
  text-align: center;
  width: 82px;
}

.results .empty {
  font-weight: bold;
  color: #d43429;
}

.overall {
  font-weight: bold;
  background: #e6e6e6;
}

.overall td {
  background: #e6e6e6;
}

.edit-button {
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: medium;
  background: #ffcc66;
  color: #d43429;
}

.edit-button:hover {
  background: #fff;
  color: #d43429;
}
