{% extends "Base.html" %} {% block title %}Compare Players Page{% endblock %} {%
block content %}

<script type="text/JavaScript">
  var count = 2
  function createNewInput() {
        var newInput = document.createElement('div');
        newInput.innerHTML = '<label for="pname">Enter Player Name:</label><br /><input type="text" id="pname" name="pname" /><br />';
        document.getElementById("playerInput").appendChild(newInput);
        count += 1
        if (count === 6){
            document.getElementById("new-input").hidden=true
        }
  }
</script>

<form action="#" method="POST">
  <div id="playerInput">
    <label for="pname">Enter Player Name:</label><br />
    <input type="text" id="pname" name="pname" /><br />

    <label for="pname">Enter Player Name:</label><br />
    <input type="text" id="pname" name="pname" /><br />
  </div>

  <div id="new-input">
    <input type="button" value="+" onclick="createNewInput();" />
    <span>Add a player</span>
  </div>

  <input type="submit" value="Submit" />
</form>

{% endblock %}
