{% extends "Error.html" %} {% block title %}Compare Players Page{% endblock %} {%
block body %}

<script type="text/JavaScript">
  var count = {{num_p}} 

  function createNewInput() {
        var newInput = document.createElement('div');
        newInput.innerHTML = '<label for="pname">Enter Player Name:</label><br /><input type="text" id="pname" name="pname" /><br />';
        document.getElementById("playerInput").appendChild(newInput);
        count += 1
        if (count === 6){
            document.getElementById("new-input").hidden=true
        }
  }

</script>

<form action="/compare-players" method="POST">
  <div id="playerInput"></div>
  {% for player in p_names %} 
    <label for="pname">Enter Player Name:</label><br />
    <input type="text" id="pname" name="pname" value={{player}} /><br />
  {% endfor %}
  </div>

  <div id="new-input">
    <input type="button" value="+" onclick="createNewInput();" />
    <span>Add a player</span>
  </div>

  <input type="submit" value="Submit" />
</form>

<br \ />

{% if not error %}
<div>
    {% for i in range(num_p) %}
    <image src="{{url_for('static', filename=imgs[i])}}" title={{p_names[i]}} style="width:80px;height:80px;"/>
    {% endfor %}
</div>

<table>
  <thead>
    <tr>
      <th>Game</th>
      {% for i in range(num_p) %}
      <th>Average</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for g in games %}
    <tr>
      <td>{{g}}</td>
      {% for i in range(num_p) %}
        {% if data[p_names[i]][g] != null%}
        <td>{{data[p_names[i]][g][0]}}</td>
        {% else %}
        <td></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td>Overall</td>
      {% for i in range(num_p) %}
        <td>{{data[p_names[i]]["Overall"][0]}}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endif %}

{% endblock %}
