{% extends "Base.html" %} {% block title %}Display Event Page{% endblock %} {%
block style %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/display-event.css')}}"
/>
{% endblock %}{% block content %}
<div class="results-wrapper">
  <div class="game-results">
    {% for game in games %}
    <div class="game-data">
      <h3>{{game}}</h3>

      <table class="results">
        <tr class="heading">
          <th class="column0">#</th>
          <th class="column1">Team</th>
          <th class="column2">Coins</th>
        </tr>
        {% for i in range(10) %}
        <tr>
          <td class="column0">{{i+1}}</td>
          <td class="column1">{{coins[game][i]['Team']}}</td>
          <td class="column2">{{coins[game][i]['Coin']|int}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}

    <div class="game-data" class="overall">
      <h3>Overall</h3>
      <table class="results">
        <tr class="heading">
          <th class="column0">#</th>
          <th class="column1">Team</th>
          <th class="column2">Coins</th>
        </tr>
        {% for i in range(10) %}
        <tr>
          <td class="column0">{{i+1}}</td>
          <td class="column1">{{overall[i]['Team']}}</td>
          <td class="column2">{{overall[i]['Coin']|int}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="team-imgs">
    {% for t in teams %}
    <div>
      <image
        src="{{url_for('static', filename='/images/'+ t +'.png')}}"
        title="{{teams[t][0]}}, {{teams[t][1]}}, {{teams[t][2]}}, {{teams[t][3]}}"
      />
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
