{% extends "PlayerData.html" %} {% block display %}

<br \ />
<div>
  <div>
    <image
      src="{{url_for('static', filename=p_id)}}"
      style="width: 120px; height: 120px"
    />
    <h3>{{player}}</h3>
  </div>
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Place</th>
        <th>Coins</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
      <tr>
        {% for item in game %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr>
        {% for item in overall %}
        <td>{{item}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
