{% extends "Error.html" %} {% block title %}Simulate Event Page{% endblock %} {%
block body %}

<form action="#" method="POST">
  <div>
    <span>Games:</span>
    {% for i in range(1,9) %}
    <input
      type="text"
      id="game{{i}}"
      name="game"
      value='{{games[i-1]}}'
      required
    />
    {% endfor %}
  </div>

  <div>
    {% for i in range(10) %}
    <div>
      <image
        src="{{url_for('static', filename='/images/'+ teamNames[i] + '.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>{{teamNames[i]}}</header>
      <input type="text" id="p1" name="p1" value={{p1[i]}} required />
      <input type="text" id="p2" name="p2" value={{p2[i]}} required />
      <input type="text" id="p3" name="p3" value={{p3[i]}} required />
      <input type="text" id="p4" name="p4" value={{p4[i]}} required />
    </div>
    {% endfor %}

    <input type="submit" value="Run Event" />
  </div>
</form>

{% endblock %}
