{% extends "Base.html" %} {% block title %}Simulate Event Page{% endblock %} {%
block content %}

<form action="#" method="POST">
  <div>
    <span>Games:</span>
    {% for i in range(1,9) %}
    <input
      type="text"
      id="game{{i}}"
      name="game"
      placeholder="Game {{i}}"
      required
    />
    {% endfor %}
  </div>
  <div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Red Rabbits.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Red Rabbits</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Orange Ocelots.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Orange Ocelots</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Yellow Yaks.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Yellow Yaks</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
  </div>
  <div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Lime Llamas.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Lime Llamas</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Green Geckos.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Green Geckos</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Cyan Coyotes.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Cyan Coyotes</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
  </div>
  <div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Aqua Axolotls.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Aqua Axolotls</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Blue Bats.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Blue Bats</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Purple Pandas.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Purple Pandas</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>
  </div>
  <div>
    <div>
      <image
        src="{{url_for('static', filename='/images/Pink Parrots.png')}}"
        style="width: 60px; height: 60px"
      />
      <header>Pink Parrots</header>
      <input type="text" id="p1" name="p1" placeholder="Player 1" required />
      <input type="text" id="p2" name="p2" placeholder="Player 2" required />
      <input type="text" id="p3" name="p3" placeholder="Player 3" required />
      <input type="text" id="p4" name="p4" placeholder="Player 4" required />
    </div>

    <input type="submit" value="Run Event" />
  </div>
</form>

{% endblock %}
