{% extends "Error.html" %} {% block title %}Player Data{% endblock %} {% block body %} 

<form action="/player-data" method="POST">
  <label for="pname">Enter Player Name:</label><br />
  {% if player %}
  <input type="text" id="pname" name="pname" value="{{player}}" /><br />
  {% elif error %}
  <input type="text" id="pname" name="pname" value="{{error}}" /><br />
  {% else %}
  <input type="text" id="pname" name="pname" /><br />
  {% endif %}

  <input type="submit" value="Submit" />
</form>

{% block display %} {% endblock %} {% endblock %}
